.folder-modal{
    & .modal-header{
      border-bottom: none;
    }

    & .modal-footer{
        border-top: none;
    }
  }

  .btn-get-treepath{
      // position: absolute;
      // top: 7px;
      // left: 8px;
      // z-index: 1;
      border : none;
      background:  none;
      padding: 0;
      > i{
        margin-right: 8px;
      }
      transition: all 0.1s ease;
  }

  .btn-get-treepath.active{
    transform: rotate(90deg);
  }

  .media{
    display: flex;
    align-items: flex-start;
    flex-direction : row; 
    >svg{
      width: 42px;
      height: 42px;
      stroke-width: 1.5px;
      color: #0168fa;
      opacity: .7;
    }
  }

  .media-folder{
    position: relative;
    border: 1px solid rgba(72, 94, 144, 0.16);
    box-shadow: none;
    padding: 6px 12px 4px 12px;
    background-color: #fff;
    border-radius: 0.25rem;
    transition: all 0.2s ease-in-out;
    .media-body{
      flex: 1;
      margin-top: 15px;
      margin-left: 10px;
    }
  }

  .card-file-thumb{
    background-color: #f5f6fa;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
  }

  .show{
    display: block;
  }

  .dropdown-menu-details{
    display: initial
 }

 .dropdown-link{
     position: absolute;
     top: 5px;
     right: 7px;
     &::before {
         display: inline-block;
         content: "\f142";
         font-family: "Font Awesome 5 Pro";
         font-weight: 400;
         color: rgba(131, 146, 165, 0.5);
         font-size: 17px;
         }
 }

 .toggle{
  display: inline-block;
  cursor: pointer;
  padding-right: 9px;
}

.item{
  padding-left:15px;
}
a{
  color : initial;
}

.folder-tree{
  padding-top: 10px;
}

.folder{
  padding-bottom: 10px;
  .fa-folder{
  margin-right: 12px;
  color : rgb(95, 99, 104);
  }
  .fa-desktop{
  width: 17px;
  font-size: 14px;
  margin-right: 12px;
  color : rgb(95, 99, 104);
}


}

  .dropdown-menu{
    .dropdown-item {
      font-size: 12px;
      display: flex;
      align-items: center;
      padding: 5px 10px;
      color: #1c273c;
      &:active{
        background-color: #f8f9fa;
      }
      &:focus{
        outline: none;
      }
      svg {
        width: 14px;
        height: 14px;
        stroke-width: 2.5px;
        margin-right: 10px;
        color: #8392a5; 
        
      }
      i{
        width: 24px;
        font-size: 14px;
        color: #8392a5;  
      }
    }
  }

  .dropdown-file{
    position: absolute;
    top: 9px;
    right: 9px; 
    
  }

  .dropdown-link{
    i{
      font-size: 17px;
    color: rgba(131, 146, 165, 0.5);
    }
  }
  .tx-danger{
    color : #dc3545;
  }

  .tx-primary{
    color: #0168fa;
  }

  .tx-orange {
    color: #fd7e14;
  }

  .tx-purple {
    color: #6f42c1;
  }

  .tx-pink {
    color: #f10075;
  }

  .tx-success {
    color: #10b759;
}

  .tx-gray-600 {
    color: #7987a1;
  }

  .tx-indigo {
    color: #5b47fb;
  }
  .card-file{
    padding: 10px;
    position: relative;
    border:1px solid rgba(72, 94, 144, 0.16);
    box-shadow: none;
    transition: all 0.2s ease-in-out;
    .card-body{
      padding: 15px 0 0;
    }

    span{
      font-size: 12px;
      color: #8392a5;
    }
  

    .card-footer{
      font-size: 11px;
      color: #c0ccda;
      padding: 10px 0 0;
      border-top-width: 0;
      background-color: transparent;
    }
  } 

  .whole-row{
    position: absolute;
    left: 0;
    right: 0;
    height: 17px;
    background-color: transparent;
    z-index: 1;
  }

  @media (min-width: 576px){  
    .card-file-thumb {
      height: 100px;
    font-size: 40px;
  }
  }
  

  @media (min-width: 992px){
    .card-file-thumb {
      height: 120px;
      font-size: 48px;
  }
  }
